<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form action="/login" method="post">
<<<<<<< HEAD
      <input type="text" name="username" placeholder="username">
=======
      <input type="text" name="username" placeholder="Username">
>>>>>>> 9744b64c8c36ad13dec7b1ea8ad184edfb4e16f0
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
